body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('fondo.jpg'); /* Asegúrate de que el nombre sea correcto */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

header {
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
}

h1 {
    margin: 0;
}

main {
    color: white;
    padding: 20px;
}

footer {
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
}
