body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('jarvis.jpg'); /* Asegúrate de que el nombre de la imagen sea correcto */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: gold; /* Color dorado para el texto */
}

header {
    text-align: center;
    color: gold; /* Color dorado para el texto en el encabezado */
    background-color: rgba(0, 0, 0, 0.7); /* Fondo oscuro para el encabezado */
    padding: 20px;
}

h1, h2 {
    margin: 0;
    color: gold; /* Color dorado para h1 y h2 */
    text-shadow: 
        -1px -1px 0 #000,  
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000; /* Contorno negro para h1 y h2 */
}

main {
    padding: 20px;
}

p, ul li {
    color: gold; /* Color dorado para párrafos y listas */
    text-shadow: 
        -1px -1px 0 #000,  
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000; /* Contorno negro para párrafos y listas */
}

footer {
    text-align: center;
    color: gold; /* Color dorado para el texto en el pie de página */
    background-color: rgba(0, 0, 0, 0.7); /* Fondo oscuro para el pie de página */
    padding: 10px;
}
